.my-logo {
  max-width: 70px;
}
h1 {
  font-size: 86px;
  font-family: "WindSong", cursive;
}
h2 {
  font-size: 30px;
  font-family: "Cutive Mono", monospace;
}
.intro {
  font-size: 40px;
  font-family: "Cutive Mono", monospace;
}
h1,
h2,
.intro {
  text-align: center;
}
.homepage-hero {
  padding: 50px;
  background-color: #98fa97;
}
p {
  font-family: "Cutive Mono", monospace;
}
h3 {
  font-family: "Windsong", cursive;
  font-size: 50px;
}

@media (max-width: 720px) {
  h1 {
    font-size: 60px;
  }
  body {
    text-align: center;
  }
  .footer-icons {
    font-size: 24px;
    margin: 5px;
    padding: 5px 10px;
  }
  footer {
    margin: 0;
  }
}
.ollie-photo,
.vivi-photo {
  max-width: 300px;
  max-height: 300px;
  justify-content: center;
}
.pet-para {
  text-align: center;
}
img {
  border-radius: 5px;
}
.project-images {
  max-width: 100%
  padding: 30px;
  background-color: #98fa97;
}
.project-descriptions {
  font-size: 20px;
  font-weight: bold;
}
.contact-links a,
.phone {
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: #198754;
}
a:hover {
  cursor: grab;
  text-decoration: underline;
  color: lightblue;
}
.footer-icons {
  font-size: 32px;
  color: #198754;
  text-decoration: none;
  margin: 15px;
  background-color: black;
  padding: 10px 20px;
  border-radius: 50%;
}
.footer-icons:hover {
  color: black;
  background-color: #198754;
}
